  body {
        font-family: Cambria;
        background-color: white;
      }
      #circle-shape {
        font-family: Cambria;
        font-weight: bold;
        margin: 13%;
        border-color: white;
        border-style: double;
        background-color: azure
      }
      #circle-shape p {
        line-height: 1.8;
      }


p{font-size: 120%}

      #circle-shape .curve {
       ;
        width: 44%; height: 44%;
        min-width: 250px;
        float: left;
        margin-top: 3em;
        margin-bottom: 3em;
        margin-right: 2em;
        border-radius:80%;
        shape-outside: circle()}
